<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variable</title>
</head>
<body>
<div>
    <h1>DTL</h1>
    <ul>
        <li><a href="/variable">Variable</a></li>
        <li><a href="/forloop">ForLoop</a></li>
        <li>
            <a href="/ifcond">Branch</a>
            Or
            <a href="{% url 'ifcond' %}">Branch</a>
        </li>
        <li><a href="/filter">Filter</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</div>
{% include 'footer.html' %}
</body>
</html>